@model StatTracker.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h4>New Ticket</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="editor form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Created" class="control-label"></label>
            <input asp-for="Created" class="form-control" />
            <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Updated" class="control-label"></label>
            <input asp-for="Updated" class="form-control" />
            <span asp-validation-for="Updated" class="text-danger"></span>
            </div>*@
            @*<div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
            </label>
            </div>
            <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="ArchivedByProject" /> @Html.DisplayNameFor(model => model.ArchivedByProject)
            </label>
            </div>*@
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label">Project</label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TicketTypeId" class="control-label">Ticket Type</label>
                <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TicketPriorityId" class="control-label">Ticket Priority</label>
                <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary mt-2" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary waves-effect waves-light mt-2">Back to Tickets</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/ckeditor5/build/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                console.error(error);
            });
    </script>
}
