@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}

<h1 class="text-center mt-3">@ViewData["Title"]</h1>

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="text-center mb-2">
                    <a href="#">
                        <img src="~/img/logos/stat-track-high-resolution-logo-color-on-transparent-background.png" alt="" height="45">
                    </a>
                </div>
                <div class="card">

                    <div class="card-body p-4">

                        <div class="text-center mb-4">
                            <h4 class="text-uppercase mt-0">Register</h4>
                        </div>

                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h2>Create a new account.</h2>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="first name">
                                <label asp-for="Input.FirstName">First Name</label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="last name">
                                <label asp-for="Input.LastName">Last Name</label>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.CompanyName" class="form-control" aria-required="true" placeholder="company name">
                                <label asp-for="Input.CompanyName">Company Name</label>
                                <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.CompanyDescription" class="form-control" aria-required="true" placeholder="company description">
                                <label asp-for="Input.CompanyDescription">Company Description</label>
                                <span asp-validation-for="Input.CompanyDescription" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Already have account?  <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-secondary rounded-pill"><b>Sign In</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
