@model StatTracker.Models.Project

@using StatTracker.Services.Interfaces;
@using StatTracker.Models.Enums

@inject IBTFileService _btFileService

@{
    ViewData["Title"] = "Create";
}

<h4>New Project</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Project Title</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label">Project Details</label>
                <textarea asp-for="Description" class="editor form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary waves-effect waves-light" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-3">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EndDate" class="control-label">Due Date</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ProjectPriorityId" class="control-label">Project Priority</label>
                <select asp-for="ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageFormFile" class="control-label">Project Image</label>
                <img class="img-fluid border rounded-3 m-2" style="max-height: 250px;" src="@_btFileService.ConvertByteArrayToFile(Model.ImageFileData!, Model.ImageFileType!, (int)DefaultImage.ProjectImage)" alt="Project Images" id="projectImage">
                <input asp-for="ImageFormFile" type="file" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
                       onchange="document.getElementById('projectImage').src = window.URL.createObjectURL(this.files[0])" data-plugins="dropify" data-height="300" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary waves-effect waves-light mt-2">Back to Projects</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/ckeditor5/build/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                console.error(error);
            });
    </script>
}

